<div class="max-350">
	<div class="scroll">
		<table class="table table-condensed">
			<tr>
				<th>Summoner's name</th>
				<th>Rank</th>
			</tr>
			<% @team.summoners.each do |summoner| %>
			<tr>
				<td class="verticalMiddle"><%= link_to summoner.name, summoner_path(summoner.id)%></td>
				<td>
					<%= render 'show_league_icones', :itemToLeague=>summoner, :size=>"22x22" %>
				</td>
			</tr>
			<% end %>
		</table>
	</div>
</div>