<%= form_tag reset_password_path, class: "form-horizontal" , :method => :post do %>
<div class="form-group">
	<%= email_field_tag :email, nil, class: 'form-control',  placeholder: 'Email address'%>
</div>
<div class="form-group">
	<%= submit_tag "Reset the password", class: "btn btn-info"  %>
</div>
<% end %>