<div class="well video-and-text-container">
	<div id="video-container">
		<video autoplay loop class="hidden-xs hidden-sm hidden-md">
			<source type="video/mp4" src="https://googledrive.com/host/0B3_sQCEF9stbTV9uSUNpYmtIRkk" media="(orientation: landscape)"></source>
		</video>
	</div>
	<div class="row" style="text-align:center;">
		<div class="col-md-2">
			<h3>
				Soon...</br>
				<small>Avg wards placed per game</small>
			</h3>
		</div>
		<div class="col-md-2">
			<h3>
				Soon...</br>
				<small>Avg wards destroyed per game</small>
			</h3>
		</div>
		<div class="col-md-4">
			<h3>
				<%= summoner.get_kda_by_role("Support") %></br>
				<small>KDA</small>
			</h3>
		</div>
		<div class="col-md-2">
			<h3>
				<%= summoner.get_win_rate("Support").round(1) %>%</br>
				<small>Win rate when playing as support</small>
			</h3>
		</div>
		<div class="col-md-2">
			<h3>
				<%= summoner.get_main_roles.first[1].count %></br>
				<small>Matches played as support</small>
			</h3>
		</div>
	</div>
</div>