<div class="row">
	<div class="col-md-10 col-md-offset-1 whiteContent">
		<div class="page-header">
			<h2><%= @summoner.name %> 
			</h2>
		</div>
		<div class="row">
			<div class="col-md-4">
				<%= render 'show_most_played_champ', :summoner=>@summoner, :ddragon_version=>@ddragon_version %>
			</div>
			<div class="col-md-8">
				<%= render 'show_league_info', :summoner=>@summoner %>
			</div>
		</div>
	</div>
</div>