<div class="row">
	<div class="col-md-10 col-md-offset-1 whiteContent">
		<div class="page-header">
			<h2><%= @summoner.name %> 
				<small>
					<%= link_to 'unlink from DuoQ account', [@user, @summoner], method: :delete, :class => 'btn btn-danger btn-xs'   %>
				</small>
			</h2>
		</div>
		<div class="row">
			<div class="col-md-4">
				<%= render 'show_most_played_champ', :summoner=>@summoner, :ddragon_version=>@ddragon_version %>
			</div>
			<div class="col-md-8">
				<h4>more soon...</h4>
			</div>
		</div>
	</div>
</div>