<main class="bs-docs-masthead" role="main">
	<div class="container">
		<div class="header-text">
			<h1>DuoQ</h1>
			<p class="lead">Advanced premade match management for League Of Legends</p>
		</div>
	</div>
</main>
<div class="bs-docs-featurette whiteContent" style="height:100%;width:50%;margin-left:auto;margin-right:auto;">
	<table style="widht:100%;border-spacing:25px;margin-left:auto;margin-right:auto;border-collapse: separate;">
		<tr>
			<td>
				<h1><%= @nbMatches %><br><small>matches played</small></h1>
			</td>
			<td>
				<h1><%= @nbPlayers %><br><small>linked League of Legends account</small></h1>
			</td>
			<td>
				<h1><%= @nbTeams %><br><small>registered teams</small></h1>
			</td>
		</tr>
	</table>
</div>