<main class="bs-docs-masthead" role="main">
	<div class="container">
		<div class="header-text">
			<h1>DuoQ</h1>
			<p class="lead">Advanced premade match management for League Of Legends</p>
		</div>
	</div>
</main>
<div class="bs-docs-featurette whiteContent" style="height:100%;width:50%;margin-left:auto;margin-right:auto;">
	<table style="widht:100%;border-spacing:25px;margin-left:auto;margin-right:auto;border-collapse: separate;">
		<tr>
			<td>
				<h3><%= @nbMatches %><br><small>matches played</small></h3>
			</td>
			<td>
				<h3><%= @nbPlayers %><br><small>linked League of Legends account</small></h3>
			</td>
			<td>
				<h3><%= @nbTeams %><br><small>registered teams</small></h3>
			</td>
		</tr>
	</table>
</div>
<!--
<div class="bs-docs-featurette">
	<div class="container">
		<div class="row centeredContent homePageRow">
			<div class="col-md-3">
				<div class="thumbnail">
					<img width="170" src="https://lh4.googleusercontent.com/-ZbE4firdO2k/VJBC3ep9eDI/AAAAAAAACM0/gDT1__OMPH4/s1000-no/meetNPlayers2.png">
					<div class="caption">
						<h3>Meet new players</h3>
						<p>Get in touch with other ranked players, sorted by lane preferences, by league, or by language.</p>
					</div>
				</div>
			</div> 
			<div class="col-md-3">
				<div class="thumbnail">
					<img width="170" src="https://lh5.googleusercontent.com/-qSuDwUDS2t4/VJBCMw1Mj-I/AAAAAAAACMk/C0Oqro1_wos/s1000-no/duo2.png">
					<div class="caption">
						<h3>Create duo lane</h3>
						<p>Once you have found a mate, simply type his summoner's name and your duo ranked queue is now tracked !</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail">
					<img width="170" src="https://lh5.googleusercontent.com/-EwD0ECBKJtQ/VJA9nxbk4gI/AAAAAAAACLs/yJb0nNOf1Co/s1000-no/advancedStats.png">
					<div class="caption">
						<h3>Advanced statistics</h3>
						<p>All your ranked queues are tracked and provide you some advanced statistics, 
							like the average gold earned by game, the average death time by game, the average damage dealt by game and lot more.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail">
					<img width="170" src="https://lh5.googleusercontent.com/-yvi3bUk5gEE/VJA_uu-L1uI/AAAAAAAACL8/TERb4lozbZY/s1000-no/progression.png">
					<div class="caption">
						<h3>Progress</h3>
						<p>You can now have access to a lot of precise data giving you 
							the keys to improve your skill with personalised tips.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
-->