<main class="bs-docs-masthead" role="main">
	<div class="container">
		<div class="header-text">
			<h1>DuoQ</h1>
			<p class="lead">Advanced premade match management for League Of Legends</p>
		</div>
	</div>
</main>