<div class="row">
	<div class="col-md-6 col-md-offset-3 whiteContent">
		<% if (logged_in? && current_logged_user.id == params[:id].to_i ) %>
		<%=	render 'show_user_for_proprietary' %>
		<% else %>
		<%=	render 'show_user' %>
		<% end %>
	</div>
</div>