<div class="row">
	<div class="col-md-10 col-md-offset-1 whiteContent">
		<div class="page-header">
			<h2>Chat commands for dqeuw</h2>
		</div>
		
		<div class="alert alert-warning" role="alert">
			<p>
				<strong>Be careful !</strong> For using all these chat command you need to have registered your summoner account in DuoQ.</br>
				Once logged in Duoq go to <strong>Game account > link an account</strong> to authenticate your League Of Legend account.
			</p>
		</div>

		<p>
			<h4>What time is it ?</h4>
			<div class="row">
				<div class="col-md-6">
					<p>You can ask it anytime you want by typing:</p>
					<div class="well">
						/msg dqeuw time
					</div>
				</div>
				<div class="col-md-6">
					<p>Your reponce will be something like:</p>
					<div class="alert alert-info" role="alert">
						dqeuw: 19:40:55
					</div>
				</div>
			</div>
		</p>

		<p>
			<h4>What are the rank of these noob players ?</h4>
			<div class="row">
				<div class="col-md-6">
					<p>Want to know the actual league and division of each player in your current game ? Ask it by typing:</p>
					<div class="well">
						/msg dqeuw rank
					</div>
				</div>
				<div class="col-md-6">
					<p>Your reponce will be something like:</p>
					<div class="alert alert-info" role="alert">
						dqeuw: Cypressxt - Unranked</br>
						dqeuw: Gardok4 - Unranked</br>
						dqeuw: Naytskaï - Unranked</br>
						dqeuw: Majins - Unranked</br>
						dqeuw: Fôg - DIAMOND V</br>
						dqeuw: Morgan BlueFish - Unranked</br>
						dqeuw: Ratei - Unranked</br>
						dqeuw: Ifrit4012 - Unranked</br>
						dqeuw: JoOo - DIAMOND V</br>
						dqeuw: Jonouchi - Unranked</br>
					</div>
				</div>
			</div>
		</p>

		<p>
			<h4>Vayne is oom ! WTF, she condemned me, HOW ?</h4>
			<div class="row">
				<div class="col-md-6">
					<p>Not sure about spells mana cost ? Ask for it info by typing:</p>
					<div class="well">
						/msg dqeuw spells vayne cost 
					</div>
					<p>Generic command:</p>
					<div class="well">
						/msg dqeuw spells championName cost 
					</div>
				</div>
				<div class="col-md-6">
					<p>Your reponce will be something like:</p>
					<div class="alert alert-info" role="alert">
						dqeuw: - Tumble 6/5/4/3/2</br>
						dqeuw: - Silver Bolts 6</br>
						dqeuw: - Condemn 20/18/16/14/12</br>
						dqeuw: - Final Hour 100/85/70</br>
					</div>
				</div>
			</div>
		</p>

		<p>
			<h4>He already has his ULT ? WTF ? AGAIN ?</h4>
			<div class="row">
				<div class="col-md-6">
					<p>Not realy concerned about cooldown ? Ask for cooldown info by typing:</p>
					<div class="well">
						/msg dqeuw spells nunu cooldown 
					</div>
					<p>Generic command:</p>
					<div class="well">
						/msg dqeuw spells championName cooldown 
					</div>
				</div>
				<div class="col-md-6">
					<p>Your reponce will be something like:</p>
					<div class="alert alert-info" role="alert">
						dqeuw: - Consume 13/12/11/10/9</br>
						dqeuw: - Blood Boil 15</br>
						dqeuw: - Ice Blast 6</br>
						dqeuw: - Absolute Zero 110/100/90</br>
					</div>
				</div>
			</div>
		</p>

	</div>
</div>