// Place all the styles related to the summoners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#role_menu{
	margin-bottom: 1em;
}

.champ_result{
	margin-bottom: 0.2em;
}

.champ_win_rate_progress{
	margin-top: 0.5em;
}

.page-header{
	.row{
		vertical-align: middle;
	}
}