<footer>
	<div class="glass">
		<h6 id="aut" onmouseover="$('#aut').tooltip('show');" data-toggle="tooltip" title="" data-original-title="2015 ©">CypressXt - Naytskai</h6>
		<h6><a href="https://twitter.com/DuoQ_Beta" target="_blank">@DuoQ_Beta <%= image_tag("https://lh3.googleusercontent.com/xF-QpWoIjoqDCx-XzYAgHh3AYZ7zbEAdvfnouHBKPT4=w1139-h926-no", size:"12x12") %></a></h6>

		<a id="gesInfo" onmouseover="$('#gesInfo').tooltip('show');" onclick="$('#gesInfo').tooltip('show');" data-toggle="tooltip" title="" data-original-title="With great support from Geneva E-Sport">Geneva E-Sport</a>
		- 
		<a id="riotInfo" onmouseover="$('#riotInfo').tooltip('show');" onclick="$('#riotInfo').tooltip('show');" data-toggle="tooltip" title="" data-original-title="This product is not endorsed, certified or otherwise approved in any way by Riot Games, Inc. or any of its affiliates.">Riot Games infos</a>
	</div>
</footer>