<header class="navbar navbar-fixed-top bs-docs-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">DuoQ</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <% if logged_in? %>
                <li><a href="#">Teams</a></li>
                <% end %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
             <li class="dropdown">
                <a href="/bugs" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
                <ul class="dropdown-menu">
                    <li><%= link_to "Report a bug", "https://github.com/CypressXt/DuoQ/issues", :target => "_blank"  %></li>
                </ul>
            </li>
            <% if logged_in? %>
            <li class="dropdown">
                <a href="/login" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Account <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><%= link_to "Game account", app_user_summoners_path(current_logged_user.id) %></li>
                    <li><%= link_to "Settings", edit_app_user_path(current_logged_user.id) %></li>
                    <li><%= link_to "Log Out", logout_path, :method => :delete %></li>
                </ul>
            </li>
            <% else %>
            <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Log in | register</a></li>
            <% end %>
        </ul>
    </nav>
</div>
</header>