<div class="row">
	<div class="col-md-6 col-md-offset-3 whiteContent">
		<div id="message">
			<% if @message != nil %>
				<% @message.each do |key, value| %>
				<%= content_tag(:div, value, :class => "text-#{key}") %>
				<% @message={} %>
				<% end %>
			<% end %>
			<% if session[:previous_url] %>
				</br>
				<%= link_to "back", session[:previous_url], :class => 'btn btn-info' %>
			<% end %>
		</div>
	</div>
</div>