<div class="row">
	<div class="col-md-10 col-md-offset-1 whiteContent">
		<div id="message">
			<% if @message != nil %>
				<% @message.each do |key, value| %>
				<%= content_tag(:div, value, :class => "text-#{key}") %>
				<% @message={} %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>